.include /lib/systemd/system/pgpool-II-95.service

[Unit]
After=
After=syslog.target network.target postgresql.target
Wants=postgresql.target

[Service]
ExecStopPost=/usr/bin/pcp_clean_up
ExecReload=/usr/bin/pgpool -f /etc/pgpool-II-95/pgpool.conf reload
PIDFile={{pgpool_pid_file_name}}

[Install]
WantedBy=multi-user.target
